<form action="/sessions" method="post">
  <p>
    <input type="text" name="height" placeholder="What is your height?" /> cm
  </p>

  <p>
    <input type="submit" class="button" value="Store my height information" />
  </p>
</form>
